@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

  @layer utilities {
    .mask-fade-x{
      mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    }
  }

  /* Custom Modern Thin Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #f8fafc;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #e2e8f0;
  }